@(title: String, user: securesocial.core.SocialUser)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <!-- Header here -->
    
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#"><img src="@user.avatarUrl" alt="@user.displayName" width="40px" height="40px"/></a>
            <div style="margin-top:10px;">
            <ul class="nav">
            <li><a href="#">@user.displayName</a></li>
              <li><a href="#">View Site</a></li>
              <li><a href="#">New</a></li>
            </ul>
            </div>
          </div>
          </div>
        </div>
        <div>
        @content
        </div>
        
    </body>
</html>
